/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

html, body, a {
    font-family: sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
}

a, a:visited, a:active, a:link {
    color: #EB1C24;
    text-decoration: none;
}

a:hover {
    color: #EB1C24;
    text-decoration: underline;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    position: relative;
}

table {
    width: 100%;
}

header {
    width: 100%;
    z-index: 5;
}

header.fixed {
    position: fixed;
}

header .header {
    height: 44px;
    border-bottom: 1px solid #918f90;
    background: #231F20;
    position: relative;
}

header .wrapper {
    height: 100%;
    margin: 0 auto;
}

div.logo {
    position: absolute;
    margin-left: -130px;
}

#logo {
    display: inline-block;
    margin-top: 12px;
}

div.main-menu {
    height: 100%;
}

ul.main-menu {
    height: 100%;
}

ul.main-menu > li {
    height: 100%;
    display: block;
    float: left;
    padding: 0 20px 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #231f20 url('../img/menu-bg.png') no-repeat 100% 0;
    z-index: 1;
}

ul.main-menu > li:first-child {
    padding-left: 0;
}

ul.main-menu > li:last-child {
    background-image: none;
}

ul.main-menu > li:nth-child(2) {
    background-position-y: -44px;
}

ul.main-menu > li:nth-child(3) {
    background-position-y: -88px;
}

ul.main-menu > li:nth-child(4) {
    background-position-y: -132px;
}

ul.main-menu > li:nth-child(5) {
    background-position-y: -176px;
}

ul.main-menu > li a {
    display: inline-block;
    margin-top: 15px;
    font-size: 1.15em;
    text-decoration: none;
    color: #808185;
}

ul.main-menu > li.active > a {
    color: #FFFFFF;
}

div.sub-menu {
    display: none;
    border-bottom: 1px solid #DEDFE0;
    text-align: center;
    background: #f0f1f1;
    box-shadow: inset 0 4px 5px -2px rgba(0,0,0,0.3);
    height: 40px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

div.sub-menu div.wrapper {
    display: inline-block;
}

ul.sub-menu {
    height: 40px;
    width: 760px;
    margin: 0 auto;
}

ul.sub-menu li {
    height: 100%;
    display: inline-block;
    padding: 0 20px;
}

ul.sub-menu li.active {
}

ul.sub-menu li a {
    display: inline-block;
    margin-top: 15px;
    font-size: 1em;
    text-decoration: none;
    color: #59595B;
}

ul.sub-menu li.active a {
    color: #EB1C24;
}

header.fixed + #content {
    padding-top: 90px;
}

#content .isotope-wrapper {
    margin: 0 auto;
}

div.page {
    display: block;
    margin-bottom: 50px;
}

div.page:last-child {
    margin-bottom: 0;
}

div.item {
    border: 1px #cacaca solid;
    margin: 17px;
}

div.item img.item-image {
    width: 100%;
}

div.item .content .heading h2 {
    font-size: 1.42em;
    margin: 15px 15px 0px 30px;
}

div.item .content .teaser {
    padding: 5px 20px 20px;
    line-height: 1.2em;
    color: #939496;
}

div.item .footer {
    border-top: 1px #cacaca solid;
}

div.item .footer .timestamp {
    width: 50%;
    float:left;
    line-height: 27px;
    padding: 5px 0;
    border-right: 1px #cacaca solid;
}

div.item .footer .timestamp span {
    margin-left: 30px;
    font-size: 0.85em;
    color: #939496;
}

div.item .footer .links {
    margin-left: 50%;
    padding: 7px 20px 0;
}

div.item .footer .links .more {
    color: #EB1C24;
    text-decoration: none;
    line-height: 27px;
}

div.item .footer .links .more:hover {
    text-decoration: underline;
}

div.item.portfolio {
    width: 548px;
}

div.item.portfolio .content {
    display: table;
    width: 100%;
    border-top: 1px #CACACA solid;
    padding: 0;
}

div.item.portfolio .content .heading {
    width: 50%;
    display: table-cell;
}

div.item.portfolio .content .teaser {
    display: table-cell;
    border-left: 1px solid #CACACA;
}

div.item.portfolio .item-image-wrapper {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 120%;
    -webkit-transition-duration: 0.5s;
         -moz-transition-duration: 0.5s;
          -ms-transition-duration: 0.5s;
           -o-transition-duration: 0.5s;
              transition-duration: 0.5s;    
}

div.item.portfolio .item-image-wrapper:hover {
    background-size: 105%;
}

div.item.portfolio img.item-image {
    opacity: 0;
}

#service {
    padding-top: 40px;
}

#about {

}

#about-team {
    margin-bottom: 0;
}

#about-team .header {
    margin-bottom: 0;
}

#about-team .content {
    padding-top: 0;
    padding-bottom: 0;
}

article {
    position: relative;
    padding-bottom: 50px;
}

article .header {
    border-bottom: 1px solid #EB1C24;
}

article .header-wrapper {
    margin: 0 auto;
    max-width: 1280px;
}

article .header h2 {
    font-size: 2.7em;
    color: #EB1C24;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid #EB1C24;
}

article .wrapper {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

article .inner > .content {
    padding: 20px 130px;
    line-height: 1.2em;
}

article .inner > .content p {
    margin-bottom: 1.5em;
}

article .item {
    margin: 0 0 0 170px;
}

section {
    margin-bottom: 40px;
}

section .header {
    border-bottom: 1px solid #000000;
}

section.active .header {
    border-bottom: 1px solid #EB1C24;
}

section .header a {
    width: 1024px;
    margin: 0 auto;
    display: block;
}

section .header h2 {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid #000000;
    text-transform: uppercase;
}

section.active .header h2 {
    color: #EB1C24;
    border-bottom: 5px solid #EB1C24;
}

section .content {
    padding: 30px 0 10px;
    width: 1024px;
    margin: 0 auto;
}

.tabs-wrapper {
    margin-bottom: 40px;
}

.tabs-wrapper div.tabs {
    border-bottom: 1px solid #ADADAD;
}

.tabs-wrapper.active div.tabs {
    border-bottom: 1px solid #EB1C24;
}

.tabs-wrapper ul.tabs {
    margin: 0 auto;
    width: 1024px;
    position: relative;
}

.tabs-wrapper ul.tabs li {
    display: inline-block;
    line-height: 3em;
    margin-right: 40px;
}

.tabs-wrapper ul.tabs li.active {
}

.tabs-wrapper ul.tabs li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.15em;
}

.tabs-wrapper.active ul.tabs li.active a {
    color: #EB1C24;
    font-size: 2em;
}

.tabs-wrapper ul.tabs li.marker {
    display: none;
    position: absolute;
    height: 5px;
    background-color: #EB1C24;
    width: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.tabs-wrapper.active ul.tabs li.marker {
    display: block;
}

.tabs-wrapper .tab {
    display: none;
    padding: 20px 0;
    width: 1024px; 
    margin: 0 auto;
    line-height: 1.6em;
}

.tabs-wrapper .tab p {
    line-height: 1.6em;   
}

.person-card {
    width: 525px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding-top: 30px;
    padding-bottom: 130px;
    margin-bottom: -34px;
}

.person-card .spacer.top {
    height: 30px;
}

.foto-wrapper {
    width: 225px;
    float: left;
}

.foto-wrapper img {
    width: 225px !important;
}

.person-details {
    padding-left: 225px;
    border-top: 1px solid #CCCCCC;
}

.person-details .person-title {
    padding: 12px 30px;   
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}

.person-details .description {
    padding: 30px;
    font-size: 1em;
    border-left: 1px solid #CCCCCC;
}

.person-details .description p {
    margin: 0;
}

.person-details h3 {
    font-size: 1.7em;
    line-height: 1.3em;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.person-details p.state {
    font-size: 1.15em;
    margin-bottom: 0;
}

.person-card .cards {
    padding-top: 30px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

ul.persons {
    font-size: 0;
    line-height: 0;
    width: 525px;
}

li.person {
    float: left;
    width: 75px;
    height: 75px;
    position: relative;
    overflow: hidden;
    border: none;
}

li.person.empty {
    width: 74px;
    height: 75px;
    border-left: 1px solid #CCCCCC;
}

li.person img {
    position: relative;
    top: -20%;
    left: -50%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); 
    width: 150%;
}

li.person .mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 0, 0, .7);
    cursor: pointer;
}

li.person.active .mask,
li.person:hover .mask {
    display: block;
}

.share-links {
    float: right;
}

.share-links li {
    display: inline-block;
    margin-left: 6px;
}

.share-links a.icon {
    display: block;
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.share-links a.icon.vk {
    background: url('../img/link-vk.png') no-repeat;
}

.share-links a.icon.fb {
    background: url('../img/link-fb.png') no-repeat;
}

.share-links a.icon.tw {
    background: url('../img/link-tw.png') no-repeat;
}

.share-links a.icon:hover {
    background-position: -24px 0;
}

#contacts {
    height: auto;
    overflow: hidden;
    position: relative;
}

#contacts .header {
    border-bottom: 1px solid #EB1C24;
}

#contacts .header .header-wrapper {
    margin-left: 345px;
}

#contacts .inner {
    margin-top: 90px;
    margin-bottom: 90px;
}

#contacts .header h2 {
    font-size: 2.7em;
    color: #EB1C24;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid #EB1C24;
}

#contacts .content {
    margin-left: 345px;
    padding: 25px 0 40px;
    max-width: 1280px;
    width: auto;
}

#contacts form {
    margin-right: 150px;
}

form .row {
    margin-bottom: 15px;
}

form .row .right {
    float: right;
}

form .row .left {
    float: left;
}

form .col2 {
    width: 50%;
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form .col2:first-child {
    padding-left: 0;
}

form .col2:last-child {
    padding-right: 0;
}

form .col3 {
    width: 33.3%;
    float: left;
    padding-right: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form .col3:first-child {
    padding-left: 0;
}

form .col3:last-child {
    padding-right: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form label.required:after {
    content: "*";
    color: red;
}

form input {
    font-size: 1em;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #919395;
}

form textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #919395;
    height: 200px;
}

form .help {
    font-size: 0.7em;
}

form span.required {
    color: red;
}

#contacts .wrapper {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
}

#map {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 80%;
    border-left: 1px solid #C1C1BE;
    border-top: 1px solid #C1C1BE;
}

#show-map {
    float: right;
    background: url('../img/showmap.png') right center no-repeat;
    line-height: 34px;
    padding-right: 28px;
    color: #000000;
    margin-right: 20px;
}

#show-contacts {
    float: right;
    background: url('../img/showcontacts.png') left center no-repeat;
    line-height: 34px;
    padding-left: 28px;
    color: #000000;
    margin-right: 40px;
    display: none;
}

#show-contacts:hover,
#show-map:hover {
    color: #EB1C24;
    text-decoration: none;
}

#tech .header {
    border-bottom: 1px solid #EB1C24;
}

#tech .header .header-wrapper {
    margin: 0 auto;
    width: 1024px;
}

#tech .inner {
    background: rgba(255,255,255,.7);
    position: relative;
    z-index: 2;
}

#tech .header h2 {
    font-size: 2.7em;
    color: #EB1C24;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid #EB1C24;
}

#tech .content {
    margin: 0 auto;
    width: 1024px;
    padding: 25px 0 40px;
}

#tech .equipment-wrapper {
    margin-left: 160px;
    margin-right: 160px;
    padding: 25px 0 40px;
    background: #FFFFFF;
}

#tech .content p,
#contacts .content p {
    line-height: 1.6em;
    margin-bottom: .6em;
}

#tech div.equipment {
    margin: 0 auto;
}

#tech div.equipment div.item {
    text-align: center;
    margin: 15px;
    box-shadow: none;
    width: 320px;
}

#tech div.equipment div.item img {
    max-width: 300px;
}

#tech div.equipment div.item p {
    text-align: left;
    line-height: 1em;
    padding-right: 10px;
}

#tech div.equipment div.item span.count {
    float: right;
    font-size: 3.8em;
    line-height: 1em;
}

#tech div.equipment div.item span.count:before {
    content: "x";
}

#overlay {
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 45px;
    padding-bottom: 100px;
}

#overlay .wrapper {
    width: 65%;
    margin: 0 auto;
    background: #FFFFFF;
    position: relative;
    max-width: 1280px;
}

#overlay .close {
    position: absolute;
    width: 23px;
    height: 23px;
    background: transparent url('../img/close-bg.png') no-repeat;
    cursor: pointer;
    top: 25px;
    right: 25px;
}

#overlay img {
    width: 100%;
}

div.paragraph {
    padding: 30px 50px 50px;
}

div.paragraph h3 {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.2em;
    color: #EB1C24;
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
}

div.paragraph .timestamp {
    margin-bottom: 30px;
}

div.paragraph .timestamp span {
    font-size: 0.85em;
}

div.paragraph .columns2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

div.paragraph p {
    line-height: 1.4em;
}

div.paragraph p.quote {
    font-style: italic;
    color: #A5A6A9;
}

#overlay .footer {
    padding: 35px;
}

#overlay .tabs-wrapper ul.tabs {
    padding: 20px 0;
    border: none;
    width: 100%;
}

#overlay .tabs-wrapper ul.tabs li {
    line-height: 1em;
    margin-right: 20px;
}

#overlay .tabs-wrapper ul.tabs li {
    border: none;
}

#overlay .tabs-wrapper ul.tabs li a {
    font-size: 1em;
}

#overlay .tabs-wrapper div.tab {
    width: 100%;
    padding: 0;
}

#overlay .header {
    padding: 70px 130px 0;
    border-bottom: 1px solid #EB1C24;
}

#overlay .header h2 {
    font-size: 2.7em;
    color: #EB1C24;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid #EB1C24;
}

#order-link {
    margin-top: 15px;
    display: none;
    float: right;
    font-style: italic;
}

#overlay form {
    padding: 40px 170px 80px 130px;
}

button {
    font-size: 1.175em;
    background: #FFFFFF;
    border: 1px solid #919395;
    line-height: 2em;
    vertical-align: middle;
    padding: 0.8em 1.5em;
    margin: 0;
    color: #919395;
    cursor: pointer;
}

button:hover {
    color: #FFFFFF;
    border-color: #EB1C24;
    background: #EB1C24;
}

button.submited {
    color: #EB1C24;
    border-color: #EB1C24;
    background: #FFFFFF;   
}

#calendar {
    margin-bottom: 0;
}

#calendar .header {
    margin-bottom: 0;
}

#calendar .content {
    padding: 50px 0 50px;
    width: 834px;
}

.calendar {
    display: table;
    border-collapse: collapse;
}

.calendar .weekdays {
    display: table-row;
}

.calendar .weekdays .day {
    display: table-cell;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 0;
    border: 1px solid #949597;
    color: #949597;
}

.calendar .week {
    display: table-row;
    height: 120px;
    border-bottom: 1px solid #949597;
}

.calendar .week .day {
    display: table-cell;
    border-left: 1px solid #949597;
    border-right: 1px solid #949597;
    position: relative;
    box-sizing: border-box;
    width: 119px;
}

.calendar .week .day.current {
    background-color: #f2f2f2;
}

.calendar .week .day.inactive {
    border-left: 1px solid #d7d9d8;
    border-right: 1px solid #d7d9d8;
}

.calendar .week .day .day-name {
    position: absolute;
    top: 12px;
    right: 9px;
    color: #949597;
}

.calendar .week .day.current .day-name {
    color: #222222;
}

.calendar .week .day.inactive .day-name {
    color: #d7d9d8;
}

.calendar .week .day .event {
    position: absolute;
    text-align: center;
    width: 120px;
    left: -1px;
    bottom: -1px;
    height: 34px;
}

.calendar .week .day .event.days2 {
    width: 239px;
}

.calendar .week .day .event.days3 {
    width: 358px;
}

.calendar .week .day .event.days4 {
    width: 477px;
}

.calendar .week .day .event.days5 {
    width: 596px;
}

.calendar .week .day .event.days6 {
    width: 715px;
}

.calendar .week .day .event.days7 {
    width: 834px;
}

.calendar .week .day .event.level1 {
    bottom: 33px;
}

.calendar .week .day .event.level2 {
    bottom: 66px;
}

.calendar .week .day .event.orange {
    background-color: #f7941d;
}

.calendar .week .day .event.green {
    background-color: #00a652;
}

.calendar .week .day .event.red {
    background-color: red;
}

.calendar .week .day .event a {
    color: #FFFFFF;
    text-decoration: underline;
    line-height: 34px;
    font-size: .9em;
}

.page .header {
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.page .header a {
    width: 760px;
    margin: 0 auto;
    display: block;
}

.page .header h2 {
    font-size: 2em;
    border-bottom: 5px solid #000000;
    color: #000000;
    display: inline-block;
    text-transform: uppercase;
}

.page.active .header {
    border-bottom-color: #EB1C24;
}

.page.active .header h2 {
    color: #EB1C24;
    border-bottom-color: #EB1C24;
}

.page .content {
    padding: 30px 0 10px;
    width: 760px;
    margin: 0 auto;
}

.content strong {
    font-weight: bold;
}

.content p {
    line-height: 1.3em;
    margin-bottom: 1em;
}

.content ul {
    list-style: none;
    color: #EB1C24;
    margin-bottom: 1em;
}

.content ul li:before {
    content: "\2022";
    color: red;
    padding-right: 35px;
}

.content ol {
    list-style-type: decimal;
    margin-bottom: 1em;
}

.content ol li,
.content ul li {
    color: #000000;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.content blockquote {
    font-style: italic;
    color: #CCCCCC;
}

#vacancy-form {

}

#vacancy-form input {
    margin: 0;
    padding: 20px 15px;
}

#vacancy-form .row {
    margin: 0;
    display: table;
    width: 100%;
}

#vacancy-form .row input {
    border-top: none;
    border-right: none;
}

#vacancy-form .row:first-of-type {
    border-top: 1px solid #919395;
}

#vacancy-form .col2,
#vacancy-form .col3 {
    padding: 0;
    float: none;
    display: table-cell;
}

#vacancy-form .col3:last-child input,
#vacancy-form .col2:last-child input {
    border-right: 1px solid #919395;
}


@media screen and (max-width: 800px) {
    header .wrapper {
        width: 760px;
    }

    ul.main-menu li {
        padding: 0 7px;
    }
}

@media screen and (min-width: 1024px) {
    header .wrapper {
        width: 760px;
    }

    article .header-wrapper {
        width: 1024px;
    }
}

@media screen and (min-width: 1280px) {
    header .wrapper {
        width: 760px;
    }

    article .header-wrapper {
    }

    article .wrapper {
    }

    article .wrapper .inner{
    }

    article .inner > .content {
        float: left;
        width: 30%;
        padding-right: 45px;
    }

    article .item {
        position: relative;
        float: left;
        margin: 0;
        top: -50px;
    }

    article:nth-child(even) .header {
    }

    article:nth-child(even) .header-wrapper {
        padding-left: 90px;
    }

    article:nth-child(even) .header-inner {
        width: 30%;
        float: right;
        margin-right: 170px;
    }

    article:nth-child(even) .wrapper {
        padding-left: 90px;
    }

    article:nth-child(even) .wrapper .inner {

    }

    article:nth-child(even) .inner > .content {
        float: right;
        padding-right: 220px;
        padding-left: 45px;
    }

    article:nth-child(even) .item {
        float: right;
    }
}